# Environment variables & secrets
.env
env
.env.local

# Python cache & bytecode
__pycache__/
*.pyc

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp files
*.log
*_out.txt
test_api.py

